body{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', 'sans-serif' ;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlight{
    color: orange;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;

}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg,lightSalmon, tomato);
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;

}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: justify;
background-image: url("images/exp-bg.png");
background-repeat: no-repeat;
background-position: left;
}
.single-experience{
    box-shadow: 10px 20px 40px gray;
    height: 80%;
    border-radius: 5px;
    padding-right: 20px;
    background-color: white;
}
#pro-area{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}